/*---------Header-----------*/
.tag_header{
    left: -70px;
    h1{
        font-size: 2em;
    }
}


/*Box input*/
.box_input{
    margin: 70px auto;
    margin-bottom: 0px;
    h2{
        font-size: 1.9em;
    }
}
.wrapper_form{
    display: flex;
    justify-content: space-between;
}
#wrapper_input_creator{
    flex-basis: 30%;
}
#wrapper_input_new_task{
    margin-left: 30px;
    flex-basis: 60%;
}


/*Box lists*/
.box_list{
    padding: 30px;
    margin: 70px auto;
    h3, h4{
        margin-top: 50px;
        font-size: 1.9em;
    }
}
.wrapper_box_lists_flexed{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.box_list_flexed{
    @include box;
    margin: 10px auto;
    flex-basis: 50%;
    h3, h4{
        margin-top: 50px;
        font-size: 1.9em;
    }
}
input[type=text]{
    max-width: 400px;
}